:root {
  --orange: #c89446;
}

@media screen and (max-width: 1496px) {
  .Photos div img {
    filter: blur(0px);
  }

  .Photos div {
    margin: 20px;
  }

  #PhotosHaut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  #PhotosBas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #modalContainer {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .baseline {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 900px) {
  .footer-container {
    flex-direction: column;
  }
  .middle {
    padding: 20px;
    margin: 20px;
    border-right: none;
    border-left: none;
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
  }
  .middle a {
    text-decoration: underline;
    color: var(--orange);
  }
  .middle p,
  .gauche p,
  .gauche h3 {
    text-align: center;
  }

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .parent {
    margin-left: 10px;
    margin-right: 10px;
  }
  .avecFlex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .avecFlex div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .block-right .block-img::before {
    display: none;
  }
  .block-img {
    border: solid 4px var(--orange);
  }
}
