:root {
    --orange: #c89446;
}

@media screen and (max-width: 899px) {
    .footer-container {
        flex-direction: column;
    }
    .middle {
        padding: 20px;
        margin: 20px;
        border-right: none;
        border-left: none;
        border-top: solid 2px grey;
        border-bottom: solid 2px grey;
    }
    .middle a {
        text-decoration: underline;
        color: var(--orange);
    }
    .middle p, .gauche p, .gauche h3 {
        text-align: center;
    }
}

@media screen and (max-width: 799px) {
    main {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 499px) {
    header {
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 10px;
        position: absolute;

    }
    header h1 {
        text-align: center;
    }
    #main {
        margin: 100px 0px;
    }
}