* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

@font-face {
  font-family: "parisienne";
  src: url("./../public/police/Parisienne-Regular.ttf");
}

@font-face {
  font-family: "sourGummy";
  src: url("./../public/police/SourGummy_Expanded-Light.ttf");
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --orange: #c89446;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

#header {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 1;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

#header_img img {
  width: 70px;
}

#liens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#liens a {
  margin: 0px 10px;
  text-decoration: none;
  color: var(--orange);
  font-size: 1rem;
  font-family: "sourGummy";
}

#contact {
  padding: 10px;
  border-radius: 100px;
  border: solid 3px var(--orange);
  background-color: rgb(239, 233, 230);
}

#contact:hover {
  transform: rotate(10deg);
  margin: 10px;
  transition-duration: 0.3s;
}

#acceuil {
  display: flex;
  justify-content: center;
  align-items: end;
  background: url(./../public/img/herbergeFacade.jpg) center center / cover
    no-repeat;
  color: white;
  height: 100vh;
  margin-bottom: 100px;
}

.baseline {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  padding: 20px;
}

.baseline-welcome {
  font-family: "Pinyon Script", cursive;
  color: var(--orange);
  font-size: 4.3rem;
  display: block;
  line-height: 1;
  animation: zoomIn;
  animation-duration: 1s;
}

.baseline-name {
  font-family: "parisienne";
  display: block;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 10px;
  animation: zoomIn;
  animation-duration: 1.5s;
}

.baseline-slogan {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: zoomIn;
  animation-duration: 2s;
}

#containerApropos {
  margin: 0 auto;
  max-width: 800px;
}

#motDuChef {
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

#textDuChef #titreDuchef {
  padding: 30px 50px;
  letter-spacing: 2px;
  line-height: 1.1;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
  text-align: center;
}

#titreDuchef span {
  font-family: "Pinyon Script", cursive;
  color: var(--orange);
  font-size: 2.5rem;
  display: block;
  text-transform: none;
}

#titreDuchef::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 2px;
  background: var(--orange);
  margin-bottom: 0.5rem;
}

#containerDuChef {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

#containerDuChef div p {
  color: white;
  padding: 20px;
  text-align: justify;
  font-size: 1.3rem;
}

#containerDuChef img {
  width: 60%;
}

.title {
  padding: 0px 20px;
  letter-spacing: 2px;
  line-height: 1.1;
  font-size: 1.75rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

.title span {
  font-family: "Pinyon Script", cursive;
  color: var(--orange);
  font-size: 2.5rem;
  display: block;
  text-transform: none;
}

.title::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 2px;
  background: var(--orange);
  margin-bottom: 0.5rem;
}

.block-centered .title {
  text-align: center;
}

.block-right {
  margin-top: 20px;
}

.block-body p,
#texteDessous,
.block-body ul {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.5;
  padding: 10px;
}

.block-body ul {
  padding: 20px;
}

.block-img {
  border: solid 1px var(--orange);
}

.block-img img {
  display: block;
  position: relative;
  z-index: 1;
}

.avecFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block-right .block-img {
  width: 350px;
  flex: none;
  margin-right: 30px;
}

.block-img {
  border: none;
  position: relative;
}

.block-right .block-img::before {
  content: "";
  display: block;
  border: solid 1px var(--orange);
  position: absolute;
  top: -20px;
  right: -20px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block-right .block-body {
  margin-right: 94px;
  order: -1;
}

#nosServices {
  padding: 0;
  margin: 0;
}

#containernosService {
  position: relative;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containerElementService {
  max-width: 800px;
  margin: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 30px;
  filter: drop-shadow(10px 10px 10px black);
  box-shadow: 0 0 40px var(--orange);
}

#containernosService::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../public/img/deventure.jpg) center center / cover no-repeat;
  filter: blur(20px); /* Applique l'effet de flou à l'image */
  z-index: -1;
}

#containernosService > * {
  position: relative;
  z-index: 1;
}

.listServices hr {
  border-color: var(--orange);
  margin-top: 20px;
}

.listServices li {
  list-style: none;
  text-align: center;
}

#infoPratique {
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerInfoPratique {
  margin: 100px;
  max-width: 800px;
}

#horraire {
  margin: 20px 0px;
}

#containerHorraire {
  padding: 30px;
}

.jours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jours p {
  font-family: "sourGummy";
  font-size: 1.3rem;
}

.jourHorraire {
  color: var(--orange);
}

footer {
  background-color: #000;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container > * {
  font-size: 1.3rem;
  color: grey;
}
.middle {
  padding: 10px;
  border-right: solid 2px grey;
  border-left: solid 2px grey;
}
.middle a {
  margin: 100px 5px;
  text-decoration: none;
  color: grey;
}

.middle a:hover {
  color: var(--orange);
  transition-duration: 1s;
}
.droite img {
  width: 50%;
}
.droite {
  width: 18.75rem;
}

#bodyContact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-droit {
  border-right: solid 2px var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: lavender;
  max-width: 400px;
  width: 100%;
  font-size: 1.3rem;
}

.contactTitre {
  color: var(--orange);
  font-family: "sourGummy";
}
.contact a {
  color: black;
  text-decoration: none;
}

#contact-gauche {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-gauche img {
  width: 80%;
  margin: 20px;
}

.underline-effect {
  position: relative;
  text-decoration: none;
}

.underline-effect::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--orange);
  transition: width 0.3s ease-out;
}

.underline-effect:hover::after {
  width: 100%;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: var(
    --delay,
    0s
  ); /* Utilisation de la variable CSS pour le délai d'apparition */
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.reveal.disappear-up {
  opacity: 0;
  transform: translateY(-50px); /* Déplace l'élément vers le haut */
  transition: opacity 1s ease, transform 1s ease; /* Durée de transition sans délai */
}

.reveal.disappear-down {
  opacity: 0;
  transform: translateY(50px); /* Déplace l'élément vers le bas */
  transition: opacity 1s ease, transform 1s ease; /* Durée de transition sans délai */
}
