@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: oklch(71.608% 0.14025 76.897);
  --secondary: #000000;
  --tertiary: #efece6;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "brico";
  src: url("/public/Fonts/BricolageGrotesque-ExtraLight.ttf");
}
@font-face {
  font-family: "tangerine";
  src: url("/public/Fonts/Tangerine-Regular.ttf");
}

@utility masked-img-journal {
    mask-image: url("/img/journal.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.noisy {
  @apply absolute inset-0 size-full bg-[url("/img/noise.png")];
}

.noisyNonAbs {
  @apply size-full relative;
}

.noisyNonAbs::before {
  content: "";
  @apply absolute inset-0 bg-[url("/img/noise.png")] opacity-50 pointer-events-none z-10;
}
.Imghero {
  @apply grid grid-cols-1 md:px-0 h-full w-full p-5 m-5 relative;

  > #imgFacade {
    @apply rounded-3xl overflow-hidden h-full w-full relative;
  }

  img {
    @apply object-cover w-full h-full;
  }
}

.ImgNoisy {
  @apply relative;

  > .noisyImgContaineur {
    @apply rounded-3xl overflow-hidden w-full relative;
  }

  img {
    @apply object-cover w-full;
  }
}



.text {
  @apply text-white font-[Montserrat] font-bold text-justify text-xl;
}
*
.textRight {
  @apply text-white font-[Montserrat] font-bold text-right text-xl;
}

.title {
  @apply text-(--primary) font-[Montserrat] text-2xl font-bold drop-shadow-md/30 text-justify;
}

@utility bricoFont {
  @apply font-[brico];
}

.bricoFont3xl {
  @apply font-[brico] text-3xl;
}

.tangerineFontxl {
  @apply font-[tangerine] text-[170px] text-white;
}

@utility tangerine {
  @apply font-[tangerine] text-white font-bold;
}

.sectionTitle {
  @apply flex flex-col;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: var(--primary);
    margin-bottom: 0.5rem;
  }
}
@utility video {
  @apply w-full md:h-[80%] h-1/2 flex justify-center items-end md:object-contain object-bottom object-cover;
}

#nosService {
  .titleService {
    @apply md:mt-32 mt-40 text-8xl md:text-[10vw] leading-none text-center;
  }
}

.listService::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 2px;
  background: var(--primary);
  margin-bottom: 0.5rem;
}